@{
    ViewData["Title"] = "Detailed Specifications";
    @using findComputerSpecs.Models;
}
    <body>
        <br />
        
       <div>
           Accessing the ManagementObject.Get() doesn't work in Asp.net Core or .Net apps.
           System.Management was added into the reference of this project.
           It works in the console .Net app. See Model/ProcessorDetailInfo.cs 
           for the Code that works in the Console app
       </div>
        <br />
        <br />
        <a class="btn btn-success" asp-action="MainPage">Back to Main Page</a>
    </body>