
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}


<body>
    <br /><br />
    <a class="btn btn-primary" asp-action="BriefSpecs">Brief Computer Specifications</a>
    @*<a class="btn btn-success" asp-action="DetailedSpecs">Detailed Computer Specifications</a>*@
</body>

